*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fab1a0;
    background: #fab1a0;
    transition: 1s;
}

nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #fab1a0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; 
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    } 
}    

/*----- missão -----*/

.missao{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}   
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.missao-no{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.missao-no:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----- serviços -----*/

.servicos{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.servicos-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}
.servicos-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(250,177,160,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*----- a nossa equipa-----*/

.equipa{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 100px;
}
.equipa-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.equipa-col img{
    width: 100%;
    border-radius: 10px;
}
.equipa-col p{
    padding: 0;
}
.equipa-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
} 

/*----- testemunhos -----*/

.testemunhos{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testemunhos-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testemunhos-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testemunhos-col p{
    padding: 0;
}
.testemunhos-col h3{
    margin-top: 15px;
    text-align: left;
}
.testemunhos-col .fa{
    color: #f44336
}
@media(max-width: 700px){
    .testemunhos-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}


/*----- contacto -----*/

.localizacao{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
} 
.localizacao iframe{
    border-radius: 10px;
    width: 100%;
}
.contacte-nos{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    word-break: break-all;
}  
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fab1a0;
    background: #fab1a0;
    transition: 1s;
}

.hero-btn-dark{
    display: inline-block;
    text-decoration: none;
    color: #555;
    border: 1px solid #555;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn-dark:hover{
    border: 1px solid #fab1a0;
    background: #fab1a0;
    transition: 1s;
}

.hero-btn-dark-ok
{
	border: 1px solid #ceeece;
	background: #ceeece;
	transition: 1s;
}


/*----- rodape -----*/

.rodape{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.rodape h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}    

html {
  scroll-behavior: smooth;
}

